*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

#container{
    font-size: 60px;
    width: 500px;
    margin: auto;
    padding: 50px 0;
}

.d-none{
    display: none;
}